html, body {
  padding: 0;
  margin: 0;
}

input {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: lightblue;
  font-family: Helvetica, sans-serif;

}

hc2, h3 {
  margin: 0 0 .75em 0;
}

/* first example */
.container {
  max-width: 750px;
  margin: 20px auto 0 auto;

  background-image: url(https://images.pexels.com/photos/161449/medical-tablets-pills-drug-161449.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

}



/* second example */
.column-layout {
  max-width: 1300px;


  line-height: 1.65;

}

.main-column {
  flex: 3;
  order: 2;
}

.sidebar-one {
  flex: 1;
  order: 1;
}

.sidebar-two {
  flex: 1;
  order: 3;
}

@media (min-width: 900px) {
  .column-layout {
    display: flex;
  }
}

/* third example */
.call-outs-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
}

.call-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 30%;
}

@media (min-width: 900px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between;
  }
}

.call-out:nth-child(1) {background-color: #c0dbe2;}
.call-out:nth-child(2) {background-color: #cdf1c3;}
.call-out:nth-child(3) {background-color: #ccb9da;}

/* fourth example */
.fixed-size-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
  background-color: #FFF;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fixed-size {
  width: 150px;
  height: 100px;
  background-color: #990b47;
  color: #FFF;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 20px;
}

/* fifth example */
.banner {
  height: 400px;
  max-width: 700px;
  margin: 40px auto 40px auto;
  background-color: #2a2a2a;
  display: flex;
}

.center-me {
  color: #FFF;
  font-size: 50px;
  margin: auto;
}

/* sixth example */
.equal-height-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.first {
  background-color: #FFF;
  padding: 20px;
  flex: 1;
}

.second {
  background-color: yellow;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.second-a {
  background-color: #c0dbe2;
  flex: 1;
}

.second-b {
  background-color: #cdf1c3;
  flex: 1;
}
/**/
.sidebar-one h3{

}
/**/

          input {
            font-size: 14px;
            font-family: Helvetica, sans-serif;
          }


          h2, h3 {
            margin: 0 0 .75em 0;
          }

          /* first example */
          .container {
            max-width: 750px;
            margin: 20px auto 0 auto;
            padding: 60px;


          }



          /* second example */
          .column-layout {
            max-width: 1300px;

            line-height: 1.65;

          }

          .main-column {
            margin: 10px;
            padding: 10px;
            flex: 3;
            order: 2;
            background-color:#f7f7ed;
          }

          .sidebar-one {
            margin: 10px;
            padding: 10px;
            flex: 1;
            order: 1;
            background-color: #f7f7ed;
            color: black;
          }

          .sidebar-two {
            margin: 10px;
            padding: 10px;
            flex: 1;
            order: 3;
              background-color: #f7f7ed;
          }

          @media (min-width: 900px) {
            .column-layout {
              display: flex;
            }
          }

          /* fifth example */


          /* sixth example */


          .first {
            background-color: #FFF;
            padding: 20px;
            flex: 1;
          }

          .second {
            background-color: yellow;
            flex: 1;
            display: flex;
            flex-direction: column;
          }

          .second-a {
            background-color: #c0dbe2;
            flex: 1;
          }

          .second-b {
            background-color: #cdf1c3;
            flex: 1;
          }


          p{

            color: black;
          }


          .Weekdays{
            color: black;
          }
